@import '../../../../style/main';

.gallery {
  &__content {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  &__info {
    display: flex;
    flex-direction: column;
    gap: 20px;

    @include on-tablet {
      width: 50%;
      align-self: end;
    }
  }

  &__label {
    @extend %label;

    @include on-tablet {
      text-align: start;
    }
  }

  &__title {
    @extend %h2-style;

    line-height: 120%;
    color: $main-black;

    text-align: center;

    @include on-tablet {
      text-align: start;
    }
  }

  &__description {
    @extend %body-text;

    text-align: center;

    @include on-tablet {
      text-align: start;
    }
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(9, 1fr);

    gap: 10px;

    @include on-tablet {
      grid-template-columns: repeat(15, 1fr);
    }
  }

  &__grid-item {
    width: 100%;
    height: 100%;

    &--01 {
      grid-column: 1 / -1;
      aspect-ratio: 335 / 300;

      @include on-tablet {
        grid-column: span 5;
        grid-row: span 2;
      }
    }

    &--02 {
      grid-column: span 4;
    }

    &--03 {
      grid-column: span 5;
      aspect-ratio: 1;

      @include on-tablet {
        grid-column: span 6;
        aspect-ratio: 229 / 174;
      }
    }

    &--04 {
      grid-column: span 6;

      @include on-tablet {
        aspect-ratio: 229 / 174;
      }
    }

    &--05 {
      grid-column: span 3;

      @include on-tablet {
        grid-column: span 4;
      }
    }

  }
}
