@import '../../style/main.scss';

.control {
  display: flex;
  justify-content: end;
  gap: 15px;

  &--flex-column {
    @include on-tablet {
      flex-direction: column;
    }
  }

  &--icon-rotate {
    @include on-tablet {
      transform: rotate(90deg);
    }
  }

  &__btn {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 36px;
    height: 36px;

    border: 0.52px solid $divider-color;
    border-radius: 50%;

    @include hover(background-color, $divider-color);

    @include on-desktop {
      width: 70px;
      height: 70px;
    }
  }
}
