%h1-style {
  font-family: $manrope-medium;
  font-size: 48px;
  line-height: 52.8px;
  color: $main-text-color;
}

// %h2-style line-height was 48

%h2-style {
  font-family: $manrope-regular;
  font-weight: 500;
  font-size: 32px;
  line-height: 38px;
  color: $main-text-color;
}

%h3-style {
  font-family: $manrope-regular;
  font-weight: 500;
  font-size: 24px;
  line-height: 28.8px;
  color: $main-text-color;
}

%h4-style {
  font-family: $manrope-regular;
  font-weight: 500;
  font-size: 13px;
  line-height: 22.4px;
  color: $main-text-color;
}

%button {
  font-family: $manrope-medium;
  font-size: 20px;
  line-height: 24px;
  color: $main-text-color;
}

%title {
  font-family: $manrope-light;
  font-size: 18px;
  line-height: 23.4px;
  color: $main-text-color;
}

%body-text {
  font-family: $manrope-regular;
  font-size: 14px;
  line-height: 21px;
  color: $main-text-color;
}

%micro {
  font-family: $manrope-regular;
  font-size: 10px;
  font-weight: 500;
  line-height: 15px;
  color: $main-text-color;
}

%label {
  @extend %h4-style;

  color: $secondary-color;
  text-transform: uppercase;
  text-align: center;
}
