$manrope-medium: 'manrope_medium', 'Helvetica Neue', Arial, sans-serif;
$manrope-regular: 'manrope_regular', 'Helvetica Neue', Arial, sans-serif;
$manrope-light: 'manrope_light', 'Helvetica Neue', Arial, sans-serif;
$main-black: #202020;
$main-text-color: #0a0b0f;
$accents-color: #007fe1;
$secondary-color: #898989;
$breadcrumbs-color: #bdbdbd;
$divider-color: #d7d7d7;
$background-color: #f1f1f1;
$white-text-color: #fcfcfc;
$white-text-color-button: #fffbfb;
$system-error-color: #551d1d;
$system-success-color: #00d36e;
$system-error-warning: #fc0;
$tablet-min-width: 834px;
$tablet-min-desktop: 1219px;
$desktop-min-width: $tablet-min-desktop;

$effect-duration-normal: 0.3s;
$effect-duration-slow: 0.7s;
$effect-duration-verrySlow: 2s;

$effect-scale-small: 1.03;
$effect-scale-medium: 1.2;
$effect-scale-large: 1.5;
$effect-scale-extraLarge: 1.7;
