@import '../../style/utils';

.modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);

  &__content {
    background-color: #fefefe;
    margin: 10% auto;
    padding: 24px;
    border: 1px solid #888;
    width: 60%;

    @include on-desktop {
      max-width: 600px;
    }
  }

  &__description {
    margin-top: 20px;

    @extend %body-text;
  }

  &__close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;

    &:hover,
    &:focus {
      color: black;
      text-decoration: none;
      cursor: pointer;
    }
  }
}
