@import '../utils/mixin';

.content {
  @include padding-inline-page;

  max-width: 1440px;
  margin: 0 auto;

  &__grid {
    display: grid;
    --content-grid-columns: 2;
    grid-template-columns: repeat(var(--content-grid-columns), minmax(0, 1fr));
    column-gap: 1.5rem;

    @include on-tablet {
      --content-grid-columns: 6;
    }

    @include on-desktop {
      --content-grid-columns: 12;
      column-gap: 1.25rem;
    }
  }
}
