.icon {
  display: block;
  width: 25px;
  height: 25px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

  &--close-black {
    background-image: url(/public/icons/close-black.svg);
  }

  &--favorite {
    background-image: url(/public/icons/favorite.svg);
  }

  &--count {
    position: absolute;
    width: 19px;
    height: 19px;
    border-radius: 50%;

    @extend %micro;
    text-align: center;
    line-height: 19px;
    background-color: $accents-color;
    color: $white-text-color;
    right: 0;
  }

  &--cart {
    background-image: url(/public/icons/cart.svg);
  }

  &--basket {
    background-image: url(/public/icons/basket_black.svg);
  }

  &--favorite-icon {
    background-image: url(/public/icons/favorite-icon.svg);
  }

  &--favorite-icon-blue {
    background-image: url(/public/icons/favorite-icon-blue.svg);
  }

  &--arrow {
    &-white {
      background-image: url(/public/icons/arrow-white.svg);
    }

    &-black {
      background-image: url(/public/icons/arrow-black.svg);
    }

    &-navigation {
      background-image: url(/public/icons/arrow-navigation.svg);
    }
  }

  &--menu {
    background-image: url(/public/icons/menu.svg);

    &-close {
      background-image: url(/public/icons/close-menu.svg);
    }
  }

  &--close {
    background-image: url(/public/icons/close-black.svg);
  }

  &--facebook {
    background-image: url(/public/icons/facebook.svg);
  }

  &--tik-tok {
    background-image: url(/public/icons/tik_tok.svg);
  }

  &--instagram {
    background-image: url(/public/icons/instagram.svg);
  }

  &--elipse {
    background-image: url(/public/icons/ellipse.svg);
  }

  &--arrow-button {
    &--white {
      background-image: url(/public/icons/arrow-button-white.svg);
    }

    &--black {
      background-image: url(/public/icons/arrow-button-black.svg);
    }
  }

  &--arrow-small {
    background-image: url(/public/icons/arrow-small.svg);
  }

  &--search {
    background-image: url(/public/icons/lens.svg);
  }

  &--filter {
    background-image: url(/public/icons/filter-lines.svg);
  }

  &--vector {
    background-image: url(/public/icons/vector.svg);

    &2 {
      background-image: url(/public/icons/vector2.svg);

      &-white {
        background-image: url(/public/icons/vector2-white.svg);
      }

      &-blue {
        background-image: url(/public/icons/vector2-blue.svg);
      }
    }

    &-switch {
      background-image: url(/public/icons/switch-vertical-02.svg);
    }
  }
}
