.title {
  margin: 0;

  &--mobile {
    color: $white-text-color;
    text-transform: uppercase;
  }

  &--h1 {
    @extend %h1-style;
  }

  &--h2 {
    @extend %h2-style;

    @include on-tablet {
      font-size: 40px;
    }
  }

  &--h3 {
    @extend %h3-style;
    font-size: 20px;

    @include on-tablet {
      font-size: 24px;
    }
  }

  &--h4 {
    @extend %h4-style;

    &-main {
      color: $main-black;
    }
  }

  &--light {
    @extend %title;
  }

  &--body-text {
    @extend %body-text;
  }

  &--micro {
    @extend %micro;
  }

  &--secondary-color {
    color: $secondary-color;
  }
}
