@import '../../style/utils';

.basket {
  padding-block: 24px 20px;

  @include on-tablet {
    padding-block: 32px 81px;
  }

  @include on-desktop {
    padding-block: 93px 110px;
  }

  &__table-products {
    display: flex;
    flex-direction: column;
    gap: 32px;
  }

  &__nav {
    display: flex;
    gap: 16px;
    align-items: center;

    margin-bottom: 40px;

    @include on-desktop {
      margin-bottom: 60px;
    }
  }

  &__icon {
    cursor: pointer;
  }

  &__title {
    font-size: 20px;
    line-height: 24px;
    color: $main-black;
  }

  &__table {
    display: flex;
    align-items: center;
    height: 64px;
    padding: 10px;
    background-color: $background-color;
    margin-bottom: 48px;

    @extend %body-text;

    @include on-desktop {
      margin-bottom: 48px;
    }
  }

  &__product {
    margin-bottom: 67px;

    @include on-tablet {
      margin-bottom: 24px;
    }
  }

  &__buttons {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 64px;

    @include on-tablet {
      flex-direction: row;
      justify-content: space-between;
      margin-top: 100px;
    }

    @include on-desktop {
      margin-top: 91px;
    }
  }
}
