@import '../../style/main';

.header {
  background-color: $main-black;

  &__content {
    padding-block: 10px;

    @include on-tablet {
      padding-block: 17px;
    }
  }

  &__nav {
    display: flex;
    justify-content: space-between;
  }

  &__categorys {
    display: none;

    @include on-tablet {
      display: flex;
      align-items: center;
    }

    @include on-desktop {
      gap: 40px;
    }
  }

  &__category-item {
    position: relative;

    padding: 12px 10px;
  }

  &__subcategorys {
    z-index: 99;
    position: absolute;
    top: 50px;
    background-color: $background-color;
  }

  &__subcategory-item {
    font-size: 14px;
    font-weight: 400;
    line-height: 150%;

    padding: 10px;

    @include hover(background-color, $breadcrumbs-color);
  }

  &__category-title {
    display: flex;
    align-items: center;

    gap: 4px;
  }

  &__category-name {
    color: $white-text-color;
    font-size: 16px;
    font-family: $manrope-medium;
    line-height: 140%;
    text-transform: uppercase;
  }

  &__icon-arrow {
    padding: 6px;
  }

  &__main-nav {
    display: flex;
    align-items: center;

    @include on-tablet {
      gap: 10px;
    }
  }

  &__main-nav-item {
    padding: 10px;
  }

  &__menu {
    @include on-tablet {
      display: none;
    }
  }
}
