@import '../../style/utils';

.formField {
  display: flex;
  flex-direction: column;
  gap: 8px;

  &__label {
    @extend %body-text;

    font-size: 15px;
    line-height: 22.5px;
    color: $main-black;

    &--star-after::after {
      content: '*';
      color: red;
    }

    &--error {
      color: red;
    }
  }

  &__input {
    height: 45px;
    padding: 12px 0;
    border-bottom: 1px solid $main-black;
    outline: none;
    position: relative;

    @extend %title;

    color: $main-black;

    &::placeholder {
      @extend %title;

      font-size: 16px;
      color: $divider-color;
    }

    &--error {
      border-color: red;
    }
  }

  &__textarea {
    height: 200px;
    border-bottom: 1px solid $main-black;
    outline: none;
    resize: none;

    @extend %title;

    color: $main-black;
  }

  &__error {
    color: red;
  }
}
