@import '../../style/utils';

.footer {
  background-color: $main-black;
  color: $divider-color;

  @extend %body;

  &__top {
    display: flex;
    flex-direction: column;
    gap: 46px;

    @include on-tablet {
      flex-direction: row;
    }

    @include on-desktop {
      gap: 148px;
    }
  }

  &__info {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 56px;

    @include on-tablet {
      grid-template-columns: repeat(2, 1fr);
      column-gap: 181px;
    }

    @include on-desktop {
      grid-template-columns: repeat(4, 1fr);
      gap: 32px;
    }
  }

  &__logo {
    justify-content: center;
  }

  &__section {
    display: flex;
    flex-direction: column;
    text-align: center;

    @include on-tablet {
      text-align: left;
    }
  }

  &__list {
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    gap: 8px;

    @include on-tablet {
      gap: 16px;
    }

    @include on-desktop {
      margin-top: 32px;
    }
  }

  &__label {
    display: block;
    color: $secondary-color;
    margin-bottom: 8px;
  }

  &__link {
    display: block;
    cursor: pointer;
  }

  &__link,
  &__button {
    @include hover(transform, scale(1.1));
  }

  &__button {
    border: none;
    color: inherit;
    font-family: inherit;
    text-align: left;
  }

  &__bottom {
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: center;

    @include on-tablet {
      flex-direction: row-reverse;
      justify-content: space-between;
    }
  }

  &__icons-box {
    display: flex;
    gap: 24px;

    @include on-tablet {
      gap: 54px;
    }
  }

  &__copyright {
    color: $white-text-color;
  }
}
