@import '../../style/utils';

.cooperation {
  padding-block: 24px 13px;

  @extend %body-text;

  font-size: 15px;
  line-height: 23px;

  @include on-tablet {
    padding-bottom: 84px;
  }

  @include on-tablet {
    padding-block: 93px 74px;
  }

  &__nav {
    margin-bottom: 24px;

    @include on-tablet {
      margin-bottom: 40px;
    }

    @include on-desktop {
      margin-bottom: 64px;
    }
  }

  &__first-section,
  &__second-section,
  &__second-section-contacts,
  &__second-section-info {
    display: flex;
    flex-direction: column;
  }


  &__first-section {
    gap: 24px;
    margin-bottom: 30px;

    @include on-tablet {
      gap: 40px;
    }

    @include on-desktop {
      margin-bottom: 24px;
      gap: 64px;
    }

    &-title {
      @include on-desktop {
        margin-inline: 380px 160px;
      }
    }

    &-p {
      @include on-desktop {
        margin-inline: 220px 550px;
      }
    }
  }

  &__second-section {
    flex-direction: column-reverse;
    gap: 24px;

    @include on-tablet {
      flex-direction: row;
    }

    margin-bottom: 62px;

    @include on-tablet {
      margin-bottom: 48px;
    }

    @include on-desktop {
      margin-bottom: 64px;
      gap: 0;
    }
  }

  &__second-section-contacts {
    gap: 16px;
  }

  &__second-section-info {
    gap: 32px;

    @include on-desktop {
      padding: 140px 110px;
    }
  }

  &__text-center{
    text-align: center;

    @include on-tablet {
      text-align: left;
    }
  }

  &__img {
    margin: auto;
    width: 336px;
    height: 328px;

    object-fit: contain;

    @include on-desktop {
      width: 510px;
      height: 510px;
    }
  }

  &__form {
    margin: auto;

    @include on-desktop {
      margin-left: 110px;
    }
  }
}
