@import '../../style/utils';

.home-page {
  display: flex;
  flex-direction: column;
  gap: 3rem;

  margin-bottom: 100px;

  @include on-tablet {
    margin-bottom: 80px;
  }

  @include on-desktop {
    gap: 8rem;
    margin-bottom: 115px;
  }
}
